@import "tailwindcss";


@layer base{

  body{
    background-image: url('/images/bg-pattern-top-mobile.svg'),url('/images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-size: auto,auto;
    background-position: left 0 top 0, right 0 bottom 0;

    @variant md{
      background-image: url('/images/bg-pattern-top-mobile.svg'),url('/images/bg-pattern-bottom-desktop.svg');

    }

    
    font-family: var(--font-league);
  }
  
}


@theme {

  --color-white: #ffffff;
  --color-purple-100: #f7f2f7;
  --color-purple-300: #927b91;
  --color-purple-900: #512051;
  --color-pink-400: #ee69a4;
  --color-orange-400: #ef9546;

  --background-image-gradient-1: linear-gradient(316.77deg, rgba(138, 67, 137, 0) 0%, #512051 100%);

  --font-league: "League Spartan", sans-serif;   
}

@utility text-preset-1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 0.85; 
}

@utility text-preset-2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 0.85; 
}

@utility text-preset-3 {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: -0.6px;
  line-height: 1.35;
}

@utility text-preset-4-bold {
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
}

@utility text-preset-4-medium {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 1.3;
}
@utility text-preset-4-regular {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
}
